

button.accordion {
    background-color:#fbfbfb;
    color: #e8e8e8
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 7px;
    
}

button.accordion.active, button.accordion:hover {
    background-color: #fbfbfb; 
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}

