<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>SampleApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <servlet-name>ConnectionManager</servlet-name>
    <servlet-class>org.netsetos.command.ConnectionManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionManager</servlet-name>
    <url-pattern>/ConnectionManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateNsoAll</servlet-name>
    <servlet-class>org.netsetos.command.UpdateNsoAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNsoAll</servlet-name>
    <url-pattern>/UpdateNsoAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateDB</servlet-name>
    <servlet-class>org.netsetos.command.UpdateDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDB</servlet-name>
    <url-pattern>/UpdateDB</url-pattern>
  </servlet-mapping>
  
</web-app>